.game-canvas {
    border: 1px solid grey;
    background-color: beige;
}

.totals-ul {
    list-style-type: none;
    display: block;
}

#game-div {
    height: 50vh;
    width: 83vw;
}

.dealer-card  {
    border: 1px solid grey;
    height: 90px;
    width: 90px;
}

.player-card {
    border: 1px solid grey;
    height: 90px;
    width: 90px;
}